<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	>
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>FH Matcher</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />

<style>

body{
	background-image: url("/FhMatcher/images/footer-hearts.png");
	background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    width: 100%;
}

</style>
</head>
<body>
	<div class="container" role="main">

		<div class="page-header">
			<h1><center><img src="images/FHMatcher.JPG"></center></h1>
		</div>

		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null" th:utext="${warningMessage}"
			class="alert alert-warning" role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<nav th:replace="~{includes/searchNav :: search}"></nav>

		<!--  1 simple button ----------------------------------------------------------- -->
		<div class="row">
		</div>
		<!--  1 simple button ----------------------------------------------------------- -->
		
<div class="container" role="main">

		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<form class="form-horizontal" enctype="multipart/form-data" method="post" action="upload">
					<fieldset>
						<legend th:text="'Upload Image for user ' + ${profileId}"></legend>
						
						<input type="hidden" name="id" th:value="${profileId}">
						
            			

						<div class="form-group">
							<label for="inputFile" class="col-md-2 control-label">File:</label>
							<div class="col-md-10">
								<input class="form-control" id="inputFile" type="file" name="myFile">
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-10 col-md-offset-2">
							
								<button type="submit" class="btn btn-primary">Upload</button>
								<a href="profile">
									<button type="button" class="btn btn-default">Cancel</button>
								</a>
							</div>
						</div>

					</fieldset>
				</form>
			</div>
		</div>
</body>
</html>